.nav-bg-img {
    background-image: url("../assets/bg21.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  
  .nav-bg {
    background-color: #ffffff4f !important;
  }
  
  .active {
    font-weight: bold;
    text-decoration: underline;
  }

// nav {
//   transition: background-color 0.3s ease;
// }

// nav.scrolled {
//   background-color: #fff !important; /* change to your desired color */
// }

.custom-toast {
  position: fixed;
  border-radius: 4px;
  font-weight: bold;
  z-index: 999999999999 !important;
  font-size: 0.8rem;
  top: 0.2rem;
  right: 0.2rem;
  max-width: 20rem;
  min-width: 11rem;
}

.custom-toast:hover {
  opacity: 0.4;
  cursor: pointer;
}