<div class="col-md-12" id="app-toast">
  <div class="rounded msg-box position-relative d-flex flex-row justify-content-start bg-white">
    <div id="success-box" class="d-none rounded-start bg-success d-flex flex-column justify-content-center icon-box">
      <i class="fa-solid fa-check" aria-hidden="true"></i>
    </div>
    <div id="error-box" class="d-none rounded-start bg-danger d-flex flex-column justify-content-center icon-box">
      <i class="fa-solid fa-xmark" aria-hidden="true"></i>
    </div>
    <div id="warning-box" class="d-none rounded-start bg-warning d-flex flex-column justify-content-center icon-box">
      <i class="fa-solid fa-triangle-exclamation" aria-hidden="true"></i>
    </div>
    <div class="msg bg-light d-flex flex-column justify-content-center text-dark w-100">
      <span id="toastmessage">
        {{errorMessage}}
      </span>
    </div>
    <a href="javascript:void(0)" class="close-item">
      <i class="fa-solid fa-xmark" aria-hidden="true"></i>
    </a>
  </div>
</div>