.nav-bg-img {
    min-height: 100vh;
  }
  
  .nav-bg {
    background-color: #f6f8fa !important;
  }
  
  .active {
    font-weight: bold;
    text-decoration: underline;
  }

  nav {
    transition: background-color 0.3s ease;
  }
  
  nav.scrolled {
    background-color: #fff !important; /* change to your desired color */
  }