<ul class="nav nav-parent p-2">
  <ng-container *ngFor="let nav of routePath;let index = index; let last = last;">
    <!-- the same view can be shown in more than one case -->
    <li class="nav-item" *ngIf="last">
      <a class="nav-link text-uppercase anc-link first-link" href="javascript:void(0)">
          <i class="fa-solid fa-house pe-2 fs-6 text-muted" *ngIf="index == 0"></i>
          {{nav.Name}}
      </a>
    </li>
    <li class="nav-item d-flex" *ngIf="!last">
      <a class="nav-link text-uppercase anc-link" href="javascript:void(0)"
        (click)="changeRouter(nav.Id)">
        <i class="fa-solid fa-house pe-2 fs-6 text-muted" *ngIf="index == 0"></i>
        <u>{{nav.Name}}</u>
      </a>
      <span>/</span>
    </li>
  </ng-container>
</ul>
